@font-face {
    font-family: 'Patinio Futura';
    src: url('../Tipografía/Patinio\ Futura.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-family: 'Patinio Futura';
}

p {
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
}

.enlace {
    font-size: 20px;
    text-decoration: none;
    color: #1975f1;
    padding-left: 50px;
}

.btn-iniciarSesion {
    color: white;
    background-color:#1975f1; 
}
