.modalCrearSesion {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(7, 7, 7, 0.363)
}

.modalHeader {
  background-color: whitesmoke;
  padding: 2px 16px;
}

.modalBody {
  background-color: rgb(235, 235, 235);
  padding: 2px 16px;
}

.modalContenido {
  background-color: #fefefe;
  text-align: center;
  margin: auto;
  padding: 0;
  width: 25%;
  height: auto;
  border: 1px solid #888;
  margin: 15% auto;
}

/* Botón de cerrar */
.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}