/* MÓVILES */

footer {
    background-color: black;
    color: white;
    padding: 10px 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.footerAsideizquierda {
    text-align: center;
    margin-top: 5vw;
}

.footerAsideizquierda > p > a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.footerSectionCentro {
    text-align: center;
}

.footerSectionCentro > p{
    font-size: 20px;
    margin: 10px;
}

.footerAsideDerecha {
    text-align: center;
    margin-top: 20px;
}

.footerAsideDerecha  > p {
    font-size: 20px;
}

.footerAsideDerecha a {
    color: green;
    text-decoration: none;
}

.footerAsideDerecha a:hover {
    color: lightgreen;
    text-decoration: none;
}

#logoByN {
    width: 50%;
    margin-top: 20px;
}


/* TABLETS */
@media (min-width: 768px) {
    footer {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }
    .footerAsideizquierda * {
        margin: 0.4vw;
    }
    .footerSectionCentro * {
        margin: 0.4vw;
    }
    .footerAsideDerecha * {
        margin: 0.4vw;
    }
    .footerAsideizquierda {
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
    }
    .footerSectionCentro {
        text-align: center;
    }
    .footerAsideDerecha {
        text-align: right;
        margin-right: 20px;
    }
}

@media only screen and (min-width:1200px){
    .footerAsideizquierda {
        margin-top: 20px;
        margin-left: 20px;
        line-height: 20px;
    }
    .footerAsideizquierda * {
        margin: 0.2vw;
    }
    .footerSectionCentro * {
        margin: 0.2vw;
    }
    .footerAsideDerecha * {
        margin: 0.2vw;
    }
}

