/*                     Elementos Comunes                 */
@font-face {
  font-family: 'Patinio Futura';
  src: url('../res/Patinio Futura.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-family: 'Patinio Futura', serif;
}

form {
  padding-top: 15px;
}

/*:nth-last-child(3) { //selector avanzado para seleccionar el tercero desde el ultimo elemento
  text-align: center;
}*/

label {
  font-size: 15px;
}

p {
  text-align: center;
}

/*--------------------------------------- Version Movil ---------------------------------------------*/
#tituloIniciar {
  padding: 25px;
  text-align: center;
}

#tituloCrear {
  padding: 15px 15px 5px 15px;
  text-align: center;
}

#tituloConfirmarGuia {
  padding: 25px;
  text-align: center;
}

.textoForm {
  font-size: 15px;
  padding-left: 50px;
}

.textoFormCrear {
  padding-left: 75px;
}

.aviso {
  color: darkgrey;
  padding: 5px 80px;
}

.redondeado {
  border-radius: 5px;
  width: 300px;
  height: 40px;
  border: 0.5px solid gray;
  margin: 5px 50px 50px 50px;
}

.inputCrear {
  border-radius: 5px;
  width: 250px;
  height: 30px;
  border: 0.5px solid gray;
  margin: 5px 75px;
}

.enlace {
  text-decoration: none;
  color: #1975f1;
}

#recuperar {
  padding-left: 125px;
}

.modalIniciarSesion, .modalCrearSesion, .modalConfirmarGuia  {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(7, 7, 7, 0.363)
}

.modalCrearSesion {
  padding-top: 15px;
}

.modalHeader, .modalHeaderCrear {
  background-color: whitesmoke;
  padding: 2px 2px;
  border-radius: 15px;
  width: 100%;
  height: 30%;
}

.modalHeaderCrear {
  height: 15%;
}

.modalBody, .modalBodyCrear {
  background-color: rgb(235, 235, 235);
  padding: 2px 2px;
  border-radius: 0px 0px 15px 15px;
  width: 100%;
  height: 70%;
}

.modalBodyCrear {
  height: 85%;
}

.modalBodyConfirmar {
  height: 50%;
}

.modalContenido, .modalContenidoCrear, .modalContenidoConfirmar {
  width: 400px;
  height: 500px;
  background-color: white;
  padding: 0;
  margin: 0px auto;
  border-radius: 15px;
}

.modalContenidoCrear {
  width: 400px;
  height: 640px;
}

.modalContenidoConfirmar {
  width: 400px;
  height: 500px;
}

/* Botón de cerrar */
.cerrar {
  color: gray;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 7px;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  background-color: rgb(187, 187, 187);
  height: auto;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0px 15px 0px 15px;
}

.btn-iniciarSesion, .btnCrearCuenta {
  color: white;
  background-color: #1975f1;
  padding: 12px 25px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem
}

.alert-danger {
  background-color: lightblue;
  border-color: #f5c2c7
}
/*-------------------------------------------version tablet------------------------------------*/
@media (min-width:768px){

  .modalContenidoCrear {
    width: 500px;
  }

  .inputCrear {
    width: 300px;
    margin: 5px 100px;
  }

  .textoFormCrear {
    padding-left: 100px;
  }
}

/*-------------------------------Versión Web-------------------------------------*/
@media only screen and (min-width:1200px){

}
